<% if logged_in? %>
  <script type="text/javascript">
    window.currentUser = <%= render(
      "api/users/user.json.jbuilder",
      user: current_user
    ).html_safe %>
    
    // passing of fingerprinted assets from backend to frontend
    window.wemeetAssets = {
      ['icon_padlock.gif']: "<%= asset_path "icon_padlock.gif" %>",
    }
  </script>
<% end %>
<div id="root"></div>
