$background-white: #ffffff;
$background-off-white: #fafafa;
$background-footer: #353e48;
$wemeet-red: #e81035;
$wemeet-light-red: rgb(241, 58, 89);
$subfooter: #2f363f;
$wemeet-login-red: #ed1c40;
$wemeet-login-red-hover: #d01031;
$background-warning: #fbe1e3;
$red-warning-text: #c00;
$secondary-text: rgba(0, 0, 0, 0.54);
$black-text: #2e3e48;
$wemeet-gray-black: rgba(46, 62, 72, 0.12);
$wemeet-blue: #00a2c7;
