.avatarForm {
  background-color: $background-off-white;
  display: flex;
  justify-content: center;
}

.avatarForm-body {
  padding-top: 40px;
  width: 440px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.avatarForm-body-header {
  font-size: 28px;
  font-weight: 700;
}

.avatarForm-marginBottom {
  margin-bottom: 20px;
}

.avatarForm-body-avatar {
  width: 150px;
  height: 150px;
}

.avatarForm-icon {
  font-size: 150px;
}

.avatarForm-avatar {
  width: 150px;
  height: 150px;
}

.avatarForm-body-button {
  width: 100%;
  height: 38px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  font-size: 14px;
  align-items: center;
  border-radius: 3px;
  background-color: $wemeet-light-red;
}

.avatarForm-body-button:hover {
  background-color: $wemeet-red;
}
.avatarForm-body-change {
  width: 100%;
  height: 38px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #00a2c7;
}
.avatarForm-body-input {
  // Below from
  // https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/file#Examples
  // "opacity is used to hide the file input instead of visibility: hidden or
  // display: none, because assistive technology interprets the latter two
  // styles to mean the file input isn't interactive"
  opacity: 0;
  position: absolute;
  cursor: inherit;
}

.avatarForm-body-orLine {
  height: 32px;
  width: 100%;
  z-index: 0;
  border-bottom: 1px solid rgba(46, 62, 72, 0.12);
  position: relative;
  margin-bottom: 32px;
  display: flex;
  justify-content: center;
}

.avatarForm-body-or {
  position: relative;
  top: 22px;
  width: 55.41px;
  background-color: $background-off-white;
  text-align: center;
}
.avatarForm-body-skipButton {
  color: #2e3e48;
}
.avatarForm-body-avatarAndLinks {
  width: 100%;
  display: inherit;
  flex-direction: inherit;
  align-items: inherit;
}
