.footer {
  height: 306px;
  width: 100%;
  background-color: $background-footer;
}

.footer > span {
  color: white;
  width: 300px;
  height: 30px;
  margin: auto;
  display:  block;
  text-align:  center;
}
