.footer {
  height: 306px;
  width: 100%;
  background-color: #353e48;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  span {
    font-size: 36px;
    margin-bottom: 48px;
  }
  div {
    display: flex;
    justify-content: space-evenly;
    width: 960px;
    a {
      font-size: 48px;
      color: white;
      transition: all 0.2s ease-in-out;
    }
    a:hover {
      color: #18bc9c;
      transform: scale(1.2);
    }
  }
}
