.form-errors {
  padding: 16px;
  background-color: #fbe1e3;
  width: 686px;
  margin: 16px;
  margin-bottom: 0;
  padding-bottom: 28px;
}

.form-errors h1 {
  font-size: 34px;
  line-height: 1.25;
  color: $red-warning-text;
}
