.group {
  display: flex;
  flex-direction: column;
  width: 100%;
}

@mixin group-center {
  margin-left: auto;
  margin-right: auto;
  max-width: 1100px;
}

header.group-header {
  height: 377.5px;
  margin: 0 20px;
}

@mixin group-left-3 {
  flex-grow: 3;
  flex-basis: 0;
  width: 621.69px;
  max-width: 621.69px;
}
@mixin group-right-2 {
  padding-left: 20px;
  flex-grow: 2;
  flex-basis: 0;
  max-width: 418.31px;
}
.group-header-container {
  @include group-center();
  > div {
    padding: 20px;
    display: flex;
    > section {
      @include group-right-2();
      h1 {
        font-size: 32px;
        font-weight: 700;
        color: $black-text;
        margin-bottom: 10px;
      }
      ul {
        display: flex;
        li {
          font-size: 14px;
          color: $black-text;
          + li {
            padding-left: 10px;
          }
          + li:before {
            padding-right: 10px;
            content: "·";
          }
        }
      }
      > div {
        display: flex;
        padding-top: 20px;
        color: rgb(46, 62, 72);
        img,
        i {
          height: 45px;
          width: 45px;
          font-size: 45px;
          margin-right: 20px;
        }
        img {
          border-radius: 999px;
        }
        p,
        span {
          line-height: 1.6;
        }
        p {
          font-weight: 500;
        }
      }
    }
    > div {
      @include group-left-3();
    }
  }
}

.group-header-image {
  background-color: green;
  width: 600px;
  height: 337px;
  border-radius: 8px;
}
#group-nav {
  border-top: 1px solid $wemeet-gray-black;
  height: 70px;
  background-color: $background-white;
  transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  position: sticky;
  z-index: 10;
  top: 0;
  > div {
    @include group-center();
    display: flex;
    height: 69px;
    align-items: center;
    box-sizing: border-box;
    padding: 0 20px;
    > ul {
      display: flex;
      @include group-left-3();
      li {
        padding-right: 40px;
        font-size: 14px;
        cursor: pointer;
      }
      li.group-show-blue,
      li:hover {
        color: $wemeet-blue;
      }
    }
    > section {
      display: flex;
      @include group-right-2();
      align-items: center;
      button {
        width: 162.91px;
        height: 38px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        font-size: 14px;
        align-items: center;
        border-radius: 4px;
        background-color: $wemeet-light-red;
        + button {
          margin-left: 20px;
        }
        transition: background .15s;
      }
      button:hover {
        background-color: $wemeet-red;
      }
      button.group-show-button-deny{
        cursor: not-allowed;
      }
      button.group-show-button-deny:hover {
        background-color: grey;
      }
    }
  }
}
#group-nav.group-show-sticky {
  box-shadow: 0 0 2px 0 rgba(46, 62, 72, 0.12),
    0 2px 4px 0 rgba(46, 62, 72, 0.12);
}
#group-main {
  background-color: #f6f7f8;
  > div {
    @include group-center();
    box-sizing: border-box;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    > div {
      @include group-left-3();
      > section {
        margin-top: 40px;
        margin-right: 20px;
        > h2 {
          font-size: 20px;
          font-weight: 500;
          line-height: 29px;
        }
      }
    }
    > section {
      @include group-right-2();
      margin-top: 40px;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      > span {
        width: 320px;
        > h2 {
          padding-bottom: 20px;
          font-size: 20px;
          font-weight: 500;
        }
      }
      > div {
        border: 3px dashed $wemeet-gray-black;
        border-radius: 8px;
        box-sizing: border-box;
        height: 206px;
        width: 320px;
        padding: 20px;
      }
    }
  }
}

.group-about {
  p {
    font-size: 16px;
    line-height: 28px;
  }
}
