.group {
  display: flex;
  flex-direction: column;
  width: 100%;
}

@mixin group-center {
  margin-left: auto;
  margin-right: auto;
  max-width: 1100px;
}

header.group-header {
  height: 377.5px;
  margin: 0 20px 20px 20px;
}

@mixin group-left-3 {
  flex-grow: 3;
  flex-basis: 0;
  width: 621.69px;
  max-width: 621.69px;
}
@mixin group-right-2 {
  padding-left: 20px;
  flex-grow: 2;
  flex-basis: 0;
  max-width: 418.31px;
}
.group-header-container {
  @include group-center();
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  section {
    @include group-right-2();
  }
  > div {
    @include group-left-3();
  }
  h1 {
    font-size: 32px;
    font-weight: 700;
    color: $black-text;
    margin-bottom: 10px;
  }
  ul {
    display: flex;
  }
  li {
    font-size: 14px;
    color: $black-text;
    + li {
      padding-left: 10px;
    }
    + li:before {
      padding-right: 10px;
      content: "·";
    }
  }
}

.group-header-image {
  background-color: green;
  width: 600px;
  height: 337px;
  border-radius: 8px;
}
#group-nav {
  height: 70px;
  > div {
    @include group-center();
    display: flex;
    > ul {
      display: flex;
      @include group-left-3();
    }
    > section {
      display: flex;
    @include group-right-2();
  }
  }
}
