.logo {
  font-family: "Leckerli One", cursive;
  font-size: 36px;
  color: $wemeet-red;
}

header.navbar {
  height: 69px;
  width: 100%;
}

.navbar-main {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: $background-white;
}

ul.navbar-main-links {
  display: flex;
  flex-direction: row;
}

.navbar-main-links > li {
  padding-left: 20px;
}

.navbar-main-links-newgroup {
  border-right: 1px solid rgba(46, 62, 72, 0.12);
  padding-right: 16px;
}

.navbar-avatar {
  height: 30px;
  width: 30px;
  font-size: 30px;
}
.navbar-avatar-image {
  border-radius: 999px;
}
