.navbar-menu-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(255, 255, 255, 0);
  z-index: 10;
}

.navbar-menu-child {
  position: absolute;
  top: 77px;
  right: 73px;
}

.navbar-menu-body{
  background-color: white;
  width: 200px;
  height: 200px;
  border: 1px solid black;
}
