.logo {
  font-family: "Leckerli One", cursive;
  font-size: 36px;
  color: $wemeet-red;
}

header.navbar {
  height: 86px;
  width: 100%;
  border-bottom: 1px solid rgba(46,62,72,.12);
}

.navbar-main {
  display: flex;
  justify-content: space-between;
  padding: 19px 20px;
  background-color: $background-white;
}

.navbar-main-nav {
  display: flex;
}

ul.navbar-main-links {
  display: flex;
  flex-direction: row;
}

.navbar-main-links > li {
  padding-left: 20px;
  display: flex;
  align-items: center;
}
.navbar-main-links a {
  color: rgba(46, 62, 72, 0.6);
  font-size: 14px;
}
.navbar-main-links-newgroup {
  border-right: 1px solid rgba(46, 62, 72, 0.12);
  padding-right: 16px;
}

.navbar-main-links-newgroup a {
  color: #00a2c7;
  font-size: 14px;
  font-weight: 700;
}

.navbar-main-links-newgroup-signedin a {
  color: #f64060;
}

.navbar-avatar {
  height: 30px;
  width: 30px;
  font-size: 30px;
  padding-right: 8px;
}
.navbar-avatar-image {
  border-radius: 999px;
}
