.navbar-menu-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(255, 255, 255, 0);
  z-index: 10;
}

.navbar-menu-child {
  position: absolute;
  top: 77px;
  right: 20px;
}

.navbar-menu-body {
  background-color: $background-white;
  width: 512px;
  border-radius: 4px;
  border: 1px solid $wemeet-gray-black;
  box-shadow: 0 2px 2px 0 $wemeet-gray-black,
    0 3px 1px -2px rgba(46, 62, 72, 0.26), 0 1px 5px 0 $wemeet-gray-black;
  padding: 8px;
  display: flex;
  box-sizing: border-box;
}

.navbar-menu-body-groups {
  padding-right: 8px;
  width: 66.67%;
  ul {
    padding-bottom: 20px;
  }
  > a {
    i {
      margin-left: 16px;
    }
    // font-size: 14px;
    line-height: 1.6;
    border-radius: 4px;
    padding: 4px 16px;
    display: inline-flex;
    // justify-content: center;
    align-items: center;
    background: #00a2c7;
    color: white;
    transition: background 0.15s;
  }
  > a:hover {
    background: #008dae;
    transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  }
}

.navbar-menu-body li {
  line-height: 23.2px;
  padding-top: 8px;
  padding-bottom: 8px;
  color: rgba(46, 62, 72, 0.6);
  font-size: 16px;
}

li.navbar-menu-name {
  color: black;
}

.navbar-menu-body li + li {
  border-top: 1px solid $wemeet-gray-black;
}

.navbar-menu-logout {
  cursor: pointer;
}

.menu-hover:hover {
  a {
    color: inherit;
  }
  background: #f64060;
  color: #fff;
}
