.logo {
  font-family: 'Leckerli One', cursive;
  font-size: 36px;
  color: $wemeet-red;
}

header.navbar {
  height: 69px;
  width: 100%;
}

.navbar-main {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

ul.navbar-main-links {
    display: flex;
    flex-direction: row;
}

.navbar-main-links > li {
  padding-left: 20px;
}

.navbar-main-links-newgroup {
  border-right: 1px solid rgba(46,62,72,.12);
  padding-right: 16px;
}
