body {
  background-color: $subfooter;
  font-family: "Roboto", sans-serif;
}

main {
  background-color: $background-white;
  min-height: 400px;
}

input,
textarea {
  color: rgba(0, 0, 0, 0.87);
  border-radius: 3px;
}

input {
  background-color: $background-off-white;
  border: 1px solid rgba(0, 0, 0, 0.12);
  padding: 4px;
  font-size: 16px;
}

a {
  color: rgb(31, 36, 204);
}

input:focus {
  border-color: #1f24cc;
}

.demo-button {
  background-color: $background-white;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.26);
}

button {
  border-radius: 3px;
  font-weight: 700;
}

.confirm-button {
  background-color: $wemeet-login-red;
  border: 1px solid $wemeet-login-red;
  color: $background-white;
  text-align: center;
}

.confirm-button:hover {
  background: $wemeet-login-red-hover;
  border-color: $wemeet-login-red-hover;
}

.hidden {
  display: none;
}

.member-avatar {
  border-radius: 999px;
}

.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.6);
  z-index: 10;
}

.modal-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
